@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">A Simple FOV Calculator</h1>
    <p>This is a basic calculator that will calculate the effective area of view (width x height)
        projected on to the designated camera sensor as given by a specific lens combination.
    </p>
</div>
    <form class="input_form" method="post">
        <div class="vert-padding">
            <label  as-for="camera">Camera: </label>
            <select  asp-for="camera" asp-items="Model.cameraOptions"></select>
        </div>
        <div class="vert-padding">
            <label  asp-for="fL">Focal Length (mm):</label>
            <input  asp-for="fL"/>
            @Html.ValidationMessage("fL")
        </div>
        <div class="vert-padding">
            <label  asp-for="dist">Distance to focal plane:</label>
            <input  asp-for="dist"/>
            @Html.ValidationMessage("dist")
            <select asp-for="units" asp-items="Model.unitOptions"></select>
        </div>
        <div class="vert-padding">
            <label  asp-for="anamorphic">Anamorphic:</label>
            <input  asp-for="anamorphic">
        </div>
        <div class="vert-padding">
            <input  class="submit" type="submit"/>
        </div>
    </form>
    <div class="results">
    @if (Model.linearFovW != 0)
        {
            <p>The computed angle of view is: @String.Format("{0:N2}", Model.AoV)&#176</p>
            <p>The computed linear field of view width is:  @String.Format("{0:N2}", Model.linearFovW)</p>
            <p>The frame width using a 2x anamorphic lens is: @String.Format("{0:N2}", Model.anamorphFov)</p>
        }
    </div>


